@keyframes morph-border {
  0% {
    border-radius: 30% 0 0 30% / 30% 0 0 70%;
  }
  25% {
    border-radius: 58% 0 0 25% / 76% 0 0 24%;
  }
  50% {
    border-radius: 50% 0 0 67% / 55% 0 0 45%;
  }
  75% {
    border-radius: 33% 0 0 42% / 63% 0 0 37%;
  }
}
