/* Global overrides */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Prata&display=swap");

body {
  font-family: Poppins, sans-serif !important;
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Prata, serif !important;
  line-height: 60px !important;
}
