.main_heading {
  font-size: 100px;
  font-family: "Anton", serif !important;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-shadow: -3px 0 1px rgb(30, 242, 241), 3px 0 1px rgb(246, 5, 10);
}
