/* Global overrides */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Prata&display=swap");

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Poppins, sans-serif !important;
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: Prata, serif !important;
}

/* Override Chakra UI focus styling */
[data-focus],
*:focus {
  box-shadow: none !important;
  outline: 0 !important;
  border-bottom: none !important;
}

button:focus {
  box-shadow: 0 0 5px #9a2d67 !important;
}

/* Style scrollbar */
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(37, 37, 37, 0.56);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cc1370;
}

/* Image carousel: navigation & pagination controls */
.swiper-button-next,
.swiper-button-prev {
  color: red !important;
}

.swiper-pagination-bullet {
  background: lightcoral !important;
}

.swiper-pagination-bullet-active {
  background: red !important;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
