/* Global overrides */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Prata&display=swap");

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Poppins, sans-serif !important;
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: Prata, serif !important;
}

/* Override Chakra UI focus styling */
[data-focus],
*:focus {
  box-shadow: none !important;
  outline: 0 !important;
  border-bottom: none !important;
}

button:focus {
  box-shadow: 0 0 5px #9a2d67 !important;
}

/* Style scrollbar */
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: blue;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
}

/* Image carousel: navigation & pagination controls */
.swiper-button-next,
.swiper-button-prev {
  color: red !important;
}

.swiper-pagination-bullet {
  background: lightcoral !important;
}

.swiper-pagination-bullet-active {
  background: red !important;
}
